<%- include("../partials/header") %>

<div class="container">
	<div class="row">
		<h1 style="text-align:center;">
			Upload New Media
		</h1>
		<div class="col-12 col-md-6 mx-auto">
			<div class="form-check">
			  <input class="form-check-input selected" type="radio" name="flexRadioDefault" id="Image" checked>
			  <label class="form-check-label" for="flexRadioDefault1">
				Upload Image
			  </label>
			</div>
			<div class="form-check">
			  <input class="form-check-input" type="radio" name="flexRadioDefault" id="Video" >
			  <label class="form-check-label" for="flexRadioDefault2">
				Upload Video
			  </label>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-12 col-md-6 mx-auto">
			<form action="/index/<%= eventId %>" method="POST" enctype="multipart/form-data">
				<div class="form-group">
					<input class="form-control" type="text" name="name" placeholder="name">
				</div>
				<div  class="form-group my-1">
                    <label for="image">Image<p id="imageUpload" class="d-none">if you're uploading a video, there's no need to upload an image in the <strong>Choose File</strong> option</p></label>
                    <input type="file" id="image" name="image" accept="image/*" >
                </div>
				<div id="videoUrl" class="d-none form-group">
					<input class="form-control" type="text" name="source" placeholder="https://www.youtube.com/embed/video_id">
					<p>place the URL of the video you want in the format shown above</p>
				</div>
				<div class="form-group">
					<input class="form-control" type="number" name="price" placeholder="price" min="0.01" step="0.01">
				</div>
				<div class="form-group">
					<input class="form-control" type="text" name="description" placeholder="description">
				</div>
				<div class="form-group">
					<button class="btn btn-lg btn-default btn-block btn-primary">Submit!</button>
				</div>
			</form>
			<a href="/index">Go Back!</a>
		</div>
	</div>
</div>

<script src='/javascripts/validateForms.js'></script>
<%- include("../partials/footer") %>