<%- include("partials/header") %>
	
<div class="container d-flex align-items-center">
    <div class="row">
      <div class="col-md-8 ">
        <h5 class="mb-4"><span id="itemsInCart1">0</span> item(s) in <strong>CART</strong></h5>
        <div id="product-container">
			
        </div>
      </div>
      <div id="orderTable" class="col-md-4 element mt-5">
		<div>
			<h3>
				<strong>Order Summary</strong>
			</h3>
			<hr>
			<table class="table table-borderless shadow-sm">
			  <thead>
				<tr>
				  <th scope="col">#</th>
				  <th scope="col">Name</th>
				  <th scope="col">Qty</th>
				  <th scope="col">Unit Price</th>
				  <th scope="col">Price</th>
				</tr>
			  </thead>
			  <tbody id="tableRows">

			  </tbody>
			  <tr>
				  <th scope="row"></th>
				  <td colspan="2"></td>
				  <td><strong> Total</strong></td>
				  <td id="totalPrice">Price</td>
			  </tr>
			</table>
			<div class="m-1">
				<button id="checkout-button" class="btn btn-primary shadow float-right purchaseBtns">CHECKOUT</button>
			</div>
		</div>
		  <div class="my-5">
			<div class="pt-4">

			  <h5 class="mb-4">Expected delivery</h5>

			  <p class="mb-0"> May take upto 7 days.<br>Further details about delivery will be provided once the order has been dispatched.</p>
			</div>
		  </div>
      </div>
    </div>
</div>

<script>
</script>

<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js"
	integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/"
	crossorigin="anonymous"></script>
<script src='/javascripts/index.js' ></script>
<script src='/javascripts/cart.js' ></script>
</body>
</html>
