<%- include("partials/header") %>

<h1>Thanks for your order!</h1>
    <p>
      We appreciate your business!
      If you have any questions, please email
	  A receipt will be emailed at the given email id
      <a href="mailto:orders@example.com">orders@example.com</a>.
    </p>

<%- include("partials/footer") %>